<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.akashmeruva.knowme">
    <!-- Enable instant app support -->
    <dist:module dist:instant="true" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@color/white"
        android:supportsRtl="true"
        android:theme="@style/Theme.KnowMe"
        tools:targetApi="31">
        <activity
            android:name=".StaticActivity"
            android:exported="false" />
        <activity
            android:name=".SelectScreen"
            android:exported="false" />
        <activity
            android:name=".Splash_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="true"
            android:resizeableActivity="true"
            android:rotationAnimation="seamless"
            android:theme="@style/AppTheme"
            tools:targetApi="O">

            <!-- Main app intent filter -->


            <!-- Declare notch support -->
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
    </application>

</manifest>